{% extends 'base.html' %}

{% block header %}
    <h1>Agenda</h1>
    <a href="http://127.0.0.1:8000/admin/">administração dos compromissos</a>
{% endblock header %}
    
{% block main %}
    {% if latest_commitment_list %}
        <ol>
            {% for commitment in latest_commitment_list %}
                <li><a href="{% url 'agenda:detail' commitment.id %}">{{ commitment.description|truncatechars:20 }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>Nenhum compromisso agendado.</p>
    {% endif %}
{% endblock main %}